EmptyProject/Library/AnnotationManager EmptyProject/Library/AssetImportState EmptyProject/Library/AssetServerCacheV3 EmptyProject/Library/AssetVersioning.db EmptyProject/Library/BuildPlayer.prefs EmptyProject/Library/BuildSettings.asset EmptyProject/Library/CurrentLayout.dwlt EmptyProject/Library/EditorUserBuildSettings.asset EmptyProject/Library/EditorUserSettings.asset EmptyProject/Library/FailedAssetImports.txt EmptyProject/Library/InspectorExpandedItems.asset EmptyProject/Library/MonoManager.asset EmptyProject/Library/ProjectSettings.asset EmptyProject/Library/ScriptAssemblies EmptyProject/Library/ScriptMapper EmptyProject/Library/assetDatabase3 EmptyProject/Library/expandedItems EmptyProject/Library/guidmapper EmptyProject/Library/metadata
